*{
    font-family: Helvetica;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}

html, body {
    cursor: default;
}

button, a {
    cursor: pointer;
}

ul, li {
    list-style-type: none;
}

/* common */

.flex_vertical_center{
    display: flex;
    align-items: center;
}

body{
    overflow-x: hidden;
}

h1{
    font-size: 42px;
}

h2{
    font-size: 32px;
}

h3{
    font-size: 28px;
}

p, li {
    font-size: 21px;
}

/* header */

header{
    padding: 20px 0;
    padding-bottom: 30px;
}

#svg_logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-logout, .btn-avis {
    padding: 8px 12px;
    text-transform: uppercase;
    border-radius: 12px;
    color: #fff;
    letter-spacing: 1px;
    margin-right: 20px;
}
.btn-logout {
    background: linear-gradient(91deg, #1B1B1B 3.99%, #000 98.92%);


}
.btn-avis {
    background: linear-gradient(269deg, #F9000D 4.7%, #9A0578 98.4%);
}

.searchbar {
    background: linear-gradient(91deg, #CBCBCB 3.99%, #CBCBCB 98.92%);
    border: none;
    width: 50%;
}

/* page login */

#page-login {
    margin: 20px 30px 40px;
    letter-spacing: 0.5px;
}

.container {
    display: flex;
    width: 100%;
    align-items: center;
}
.form {
    width: 70%;
}
.img-form {
    width: 30%;
    height: auto;
}
.img-form img {
    width: 100%;
}

fieldset {
    border: none;
}
legend {
    font-size: 23px;
    padding-top: 6px;
}
h1 {
    text-transform: uppercase;
}
.h1-login {
    font-weight: 500;
    letter-spacing: 2px;
}
input {
    border: 1px solid #2c2c2c;
    border-radius: 12px;
    padding: 10px 12px;
}

.separator {
    width: 100%;
    display: block;
    height: 1px;
    background-color: black;
    margin-top: 30px;
}

.label-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}
.label-input input {
    width: 80%;
}
.label-input label {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 18px;
    text-transform: uppercase;
}
.label-input img {
    width: 28px;
    cursor: pointer;
}

#checkbox {
    transform: scale(1.3);
    margin-right: 5px;
}
.do-not-check {
    font-size: 13px;
}
.memorise-mdp {
    font-size: 19px;
}

.eye {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.btn-submit {
    text-transform: uppercase;
    padding: 10px 25px;
    border-radius: 12px;
    background-color: #D9D9D9;
    margin-top: 35px;
    font-size: 16px;
}
.btn-submit:hover {
    background: linear-gradient(269deg, #F9000D 4.7%, #9A0578 98.4%);
    color: #fff;
}

.div-mdp-forgotten {
    margin-top: 15px;
}
.mdp-forgotten {
    font-weight: bold;
}
.mdp-forgotten:hover {
    color: #9b2743;
}

/* responsive */

@media screen and (max-width: 1200px) {
    .sect_main {
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }
    .sect2_main_step{
        width: 80% !important;
    }
}

@media screen and (max-width: 991.9px) {
    .form {
        padding-top: 30px;
    }
}

@media screen and (max-width: 540px) {
    .form {
        width: 100%;
    }
    .img-form {
        display: none;
    }
    .label-input input {
        width: 100%;
    }
}


/* ## page d'accueil */

.header-home {
    padding-left: 20px;
}

.link {
    color: #09A9E7 !important;
}

/* sect1 */

#sect1{
    text-transform: uppercase;
}

#sect1 h2{
    font-size: 42px;
}

#sect1{
    background-color: #D6D6D6;
}

.sect1_Bt_Intranet{
    border-radius: 10px;
    background: linear-gradient(269deg, #0275A1 4.7%, #09A9E7 98.4%);
    padding: 10px 20px;
    color: white;
    text-transform: uppercase;
    margin-top: 26px;
    margin-bottom: 26px;
    cursor: pointer;
    font-weight: bold;
}

.sect1_logoSNCF{
    width: 42%;
}

.sect1_container_logoSNCF{
    width: 60%;
}

.bjr {
    text-transform: initial;
    text-decoration: underline;
    margin-bottom: 10px;
}

#btn-audio {
    border-radius: 50%;
    width: 50px;
    height: auto;
    padding: 15px;
    background: linear-gradient(269deg, #F9000D 4.7%, #9A0578 98.4%);
    position: fixed;
    right: 10px;
    bottom: 30px;
    cursor: pointer;
}

/* sect2 */

.sect{
    padding-left: 52px;
    padding-right: 52px;
    margin-top: 60px;
}

.sect_main{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.sect_title_container div{
    width: 60px;
    height: 60px;   
    background-color: #D6D6D6;
    border-radius: 100%;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sect_title_container div p{
    font-weight: bold;
}

.sect_title_container h2{
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}

.sect2_main_step{
    background-color: #D6D6D6;
    padding: 16px;
    width: 47%;
    height: 100%;
    border-radius: 16px;
}

#sect2_main_step1_title{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

#sect2_main_step2_title{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

#sect2_main_step1_ctn{
    display: flex;
    flex-direction: column;
    gap: 62px;
}

#sect2_main_step1_ctn img{
    width: 30px;
    height: 30px;
    margin-right: 16px;
}

#sect2_main_step1 hr{
    height: 100px;
    width: 1px;
    margin-right: 32px;
    border: none;
    border-left: 1px solid #000;
}

.sect_title_container img{
    width: 60px;
}

#sect2_main_step2 hr{
    height: 100px;
    width: 1px;
    margin-right: 32px;
    border: none;
    border-left: 1px solid #000;
}

#sect2_main_step2_title h4{
    margin-bottom: 12px;
}

#sect2_main_step1_title h4{
    margin-bottom: 12px;
}

#sect2_main_step2_ctn_imgContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

#sect2_main_step2_ctn_imgContainer img{
    height: 200px;
}

#sect2_main_step2_ctn a{
    color: black;
    font-weight: bold;
}

/* sect3 */

.sect3_main_step{
    display: flex;
    gap: 32px;
    flex-direction: column;
    justify-content: center;
}

#sect3_main_step_list{
    margin-top: 32px;
}

/* sect4 */

#sect4_main{
    border-radius: 16px;
    background-color: #D6D6D6;
    padding: 16px;
    display: flex;
    gap: 32px;
    flex-direction: column;
    margin-top: 40px;
}

/* sect5 */

#sect5_main{
    display: flex;
    gap: 16px;
    flex-direction: column;
    margin-top: 40px;
    padding: 16px;
    text-align: center;
}

.sect5_main_elmt{
    background-color: #D6D6D6;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    font-weight: bold;
}

/* modal pop-up */
/* Style de la fenêtre modale */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Style du contenu de la fenêtre modale */
.modal-content {
    background-color: #D9D9D9;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    position: relative;
    text-align: center;
}
.modal-content img {
    width: 160px;
}

/* Style du bouton de fermeture de la fenêtre modale */
.close {
    color: #000;
    font-size: 50px;
    font-weight: lighter;
    position: absolute;
    right: 10px;
    top: 0;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#btn-av {
    text-transform: uppercase;
    padding: 12px 18px;
    border-radius: 12px;
    border: solid 1px #000;
    background-color: transparent;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 16px;
}
#btn-av:hover {
    background: linear-gradient(269deg, #F9000D 4.7%, #9A0578 98.4%);
    color: #fff;
    border: none;
}